@model de.database.webapp.Models.Edit

@{
    ViewBag.Title = "Bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
    <head>
        <title>Bearbeiten</title>
    </head>
    <body>
        <h2>Edit</h2>

        <form action="./AcceptEdit" method="post">
            <div class="form-inline">
                <label>Kontakt Person: </label>
                <br />
                <label for="customerTitle">Kontakt Titel:</label>
                <input type="text" class="input-sm" name="customerTitle" value="@Model.ContactTitle" id="customerTitle" />
                <br />
                <br />
                <label for="customer">Kontakt Name:</label>
                <input type="text" class="input-sm" name="customer" value="@Model.ContactName" id="customer" />
            </div>
            <br />
            <div class="form-inline">
                <label for="companyName">Firmen Name: </label>
                <input type="text" class="input-sm" name="companyName" value="@Model.CompanyName" id="companyName" />
            </div>
            <br />
            <div class="form-inline">
                <label>Adresse: </label>
                <br />
                <label for="adress">Straße: </label>
                <input type="text" class="input-sm" name="adress" value="@Model.Adress" id="adress" />
                <br />
                <br />
                <label for="PLZ">Postleitzahl: </label>
                <input type="text" class="input-sm" name="PLZ" value="@Model.PLZ" id="PLZ"/>
                <br />
                <br />
                <label for="city">Stadt: </label>
                <input type="text" class="input-sm" name="city" value="@Model.City" id="city" />
                <br />
                <br />
                <label for="country">Land: </label>
                <input type="text" class="input-sm" name="country" value="@Model.Country" id="country" />
            </div>
            <br />
            <div class="form-inline">
                <label>Erreichbarkeit: </label>
                <br />
                <label for="phone">Telefon: </label>
                <input type="text" class="input-sm" name="phone" value="@Model.Phone" id="phone" />
                <br />
                <br />
                <label for="fax">Fax: </label>
                <input type="text" class="input-sm" name="fax" value="@Model.Fax" id="fax" />
            </div>
            <br />
            <div class="form-inline">
                <button class="btn-black" type="submit">Speichern</button>
                <a class="btn-black" href="./Kunde">Abbrechen</a>
            </div>
        </form>
    </body>
</html>

